@CHARSET "UTF-8";
body{
    /*!* Safari 4-5, Chrome 1-9 *!*/
    /*background: -webkit-gradient(radial, center center, 0, center center, 460, from(#1a82f7), to(#2F2727));*/

    /*!* Safari 5.1+, Chrome 10+ *!*/
    /*background: -webkit-radial-gradient(circle, #1a82f7, #2F2727);*/

    /*!* Firefox 3.6+ *!*/
    /*background: -moz-radial-gradient(circle, #1a82f7, #2F2727);*/

    /*!* IE 10 *!*/
    /*background: -ms-radial-gradient(circle, #1a82f7, #2F2727);*/
    /*height:600px;*/

    background: url(http://i.imgur.com/GHr12sH.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.centered-form{
    margin-top: 60px;
}

.centered-form .panel{

    background: rgba(255, 255, 255, 0.7);
    box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
}
.centered-form .panel .panel-heading .panel-title{
    text-align: center;
}

a:active {
    color: blue;
}
a:hover {
    text-decoration: underline;
}
.panel .panel-heading .panel-title{
    text-align: center;
}
label.label-floatlabel {
    font-weight: bold;
    color: #46b8da;
    font-size: 11px;
}

form[role=form] {
    color: #5d5d5d;
    /*background: #f2f2f2;*/
    padding: 20px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

form[role=form] img {
    display: block;
    margin: 0 auto;
    margin-bottom: 16px;
}

form[role=form] input,
form[role=form] button {
    border-radius: 10px;
    font-size: 16px;
    margin: 16px 0;
}

form[role=form] > div {
    text-align: center;
}

.form-links .myloginHref{
    background-position: center;
    text-align:center;
    margin-left: 25px;

}
